.event {
  position: absolute;
  width: 80%;
  background-color: #6495ed;
  border-radius: 8px;
  padding: 8px;
  color: #fff;
  z-index: 1;

  &__title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
  }

  &__description {
    margin-top: 10px;
  }

  &:hover {
    font-weight: bold;
    background-color: #1561ee;
  }
}

.delete-event-btn {
  z-index: 10;
  position: absolute;
  bottom: -30px;
  right: -10px;
  display: block;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  margin-top: 5px;
  padding: 5px 10px;
  font-size: 16px;
  font-family: serif;
  letter-spacing: 1px;
}

.fa-trash-alt::before {
  padding-right: 10px;
}
