.header {
  display: flex;
  height: 70px;
  padding: 0 48px 10px 48px;
  align-items: center;
}

.create-event-btn {
  &__icon {
    margin-right: 8px;
  }
}

.navigation {
  &__today-btn {
    margin-left: 32px;
  }

  &__nav-icon {
    font-size: 16px;
    margin-left: 20px;
    &:nth-child(2) {
      margin-left: 30px;
    }
  }

  &__displayed-month {
    font-size: 20px;
    font-weight: 700;
    margin-left: 30px;
  }
}
